.contextMenu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 100px;
  background-color: #2f4f4f;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.contextMenu-active {
  display: block;
}

.contextMenu-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contextMenu-item {
  display: block;
  margin-bottom: 4px;
  margin-left: 4px;
}

.contextMenu-item:last-child {
  margin-bottom: 0;
}

.contextMenu-link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
}

.contextMenu-link:hover {
  color: #fff;
  background-color: #0066aa;
}